<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Live Monitor</h1>
    <div id="screen-container">
        <img id="screen" style="width: 80%; border: 1px solid black;" />
    </div>

    <script>
        const ws = new WebSocket('ws://127.0.0.1:8000/websockets/admin_id');
        const screenImg = document.getElementById('screen');

        ws.onmessage = function(event) {
            console.log("frames are receiving")
            // Decode the base64 frame and update the image source
            screenImg.src = "data:image/jpeg;base64," + event.data;
        };
    </script>
</body>
</html>
